@using FastFoodBranch.Models;
@{
    ViewBag.Title = "Tài khoản mạng xã hội";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    ViewBag.setUp1 = "sub_page";
    ViewBag.setUp2 = "Hidden";
    var userKH = (KhachHang)Session["userKH"];
}


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/KhachHang/TrangChu">Trang chủ</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Tài khoản mạng xã hội</strong>
            </div>
        </div>
    </div>
</div>
<section class="book_section">
    <div class="container mb-4 mt-4">
        <div class="my-account ">
            <div class="account-left">
                <div class="b-avatar">
                    <div class="f-name">
                        <!--Phần này sẽ render hình ảnh của người dùng-->
                        <img id="avatarImage" src="@userKH.HinhAnh" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <input type="file" id="avatarInput" style="display: none;">
                    </div>
                    <div class="f-fullname">@userKH.TenKH</div>
                    <div class="f-point">
                        <span>0 Điểm</span>
                    </div>

                </div>
                @{
                    ViewBag.social = "active";
                    Html.RenderPartial("Menu");
                }

            </div>
            <div class="account-right d-block">
                <button class="f-back" onclick="window.location='MenuMobile'"></button>
                <h2 class="head-title">Tài khoản mạng xã hội</h2>
                <div class="account-content">
                    <ul class="socials-list">
                        <li class="">
                            <div class="sc-head">
                                <span class="icon fb">Liên kết tài khoản Facebook</span>
                                <button class="btn-conntect">Liên kết</button>
                                <button class="btn-arrow disabled"></button>
                            </div><div class="sc-content">
                            </div>
                        </li>
                        <li class="">
                            <div class="sc-head">
                                <span class="icon gg">Liên kết tài khoản Google</span>
                                <button class="btn-conntect">Liên kết</button>
                                <button class="btn-arrow disabled"></button>
                            </div>
                            <div class="sc-content"></div>
                        </li>
                        <li class="">
                            <div class="sc-head">
                                <span class="icon app">Liên kết tài khoản Apple</span>
                                <button class="btn-conntect">Liên kết</button>
                                <button class="btn-arrow disabled"></button>
                            </div>
                            <div class="sc-content"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
