@using FastFoodBranch.Models;
@{
    ViewBag.Title = "MenuMobile";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    ViewBag.setUp1 = "sub_page";
    ViewBag.setUp2 = "Hidden";
    var kh = (KhachHang)Session["userKH"];
}
<link href="~/Content/LayoutKH/DetaileKH/style_ec.css" rel="stylesheet" />
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/KhachHang/TrangChu">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Thông tin tài khoản</strong></div>
        </div>
    </div>
</div>

<section class="book_section">
    <div class="container mb-4 mt-5">
        <div class="my-account menu-only">
            <div class="account-left" style="display:block">
                <div class="b-avatar">
                    <div class="f-name">
                        <!--Phần này sẽ render hình ảnh của người dùng-->
                        <img id="avatarImage" src="@kh.HinhAnh" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <input type="file" id="avatarInput" style="display: none;">
                    </div>
                    <div class="f-fullname">Trương</div>
                    <div class="f-point">
                        <span>0 Điểm</span>
                    </div>

                </div>
                @{
                    Html.RenderPartial("Menu");
                }
            </div>
        </div>
    </div>
</section>