
@{
    ViewBag.Title = "VeChungToi";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    ViewBag.act3 = "active";
    ViewBag.setUp1 = "sub_page";
    ViewBag.setUp2 = "Hidden";
}

<!-- Thông tin chúng tôi section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Content/LayoutKH/images/MA02.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Chúng tôi là
                        </h2>
                    </div>
                    <p>
                        Nhóm 07 xin trình bày đồ án phần mềm quản lý chuỗi cửa hàng bán thức ăn nhanh.
                        Đây là một phần mềm cho phép quản lý các hoạt động của các cửa hàng bán thức ăn nhanh như đặt hàng, thanh toán, kiểm tra tồn kho, báo cáo doanh thu, v.v.
                        Phần mềm được thiết kế theo mô hình client-server, sử dụng ngôn ngữ C#, framework: ASP.NET MVC 5 và cơ sở dữ liệu SQL SERVER.
                        Nhóm 07 gồm có 3 thành viên:  Trương Tấn Nhã, Trần Nguyễn Kim Ngân, Lê Thị Thu Thảo
                    </p>
                    <a href="">
                        Đọc thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end thông tin về chúng tôi section -->
